audios
audios2
ckpt
ckpt2
ckpt_diff
audios_pruebas
models
audios_pruebas
results_pruebas
results
pruebas
ckpt_diff_resunet
audios_diff_resunet
audios_diff_resunet_8steps
ckpt_diff_8steps
bohemian_rhapsody.wav
specs
specs_change
ckpt_bass/
results2/
__pycache__/trainer_sigmoidal.cpython-38.pyc
audios_diff_resunet_8steps_lineal/
audios_diff_resunet_8steps_sigmoidal/
ckpt_lineal/
ckpt_sigmoidal/

